.status-dot {
  min-height: 9px;
  position: relative;
  padding-left: 15px;
  color: #757575;
  display: inline-block;
  vertical-align: middle;
  &:before{
    background: $color-silver-grey;
    border-radius: 50%;
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
  }
}
.status-dot--small {
  min-height: 6px;

  &:before{
    width: 6px;
    height: 6px;
    margin-top: -3px;
  }
}
.status-dot--green:before {
  background-color: $color-telenor-green;
}
.status-dot--yellow:before {
  background-color: $color-telenor-yellow;
}
.status-dot--red:before {
  background-color: $color-telenor-red;
}
.status-dot--blue:before {
  background-color: $color-telenor-blue
}