<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
  <!-- content请填写业务模块编码，此编码与i18n目录下的对应模块的子目录名称保持一致,这里以eshop为例子 -->
  <meta name="biz-code" content="eshop">
  <title>Title</title>
  <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link href="/assets/css/main.css" rel="stylesheet">
  <!--business css here.-->
</head>
<body>
<!--business html here.-->
</body>
<!--business javascript tag here.-->
</html>
